<a href="https://colab.research.google.com/github/Python-U/meetup/blob/master/002_Python_U_Meetup_20190602.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://secure.meetupstatic.com/photos/event/6/9/8/8/global_479847016.jpeg)

# Welcome to Python U Meetup #2

### Quick tutorial
- This Google Colab Python 3 notebook contains two types of cells, "*code*" cells and "*text*" cells.
- To run the Python code in each code cell or display the formatted text in a text cell, just selct the cell and press **Shift + Enter ** on your keyboard.
- You can also click on the Play button ▶️ on the far left of the cell to run the code. Text cells do not have a play button.
- Double-click inside a cell to edit the contents.
- To add a cell, you can click on "**+CODE**" or "**+TEXT**" on the toolbar above or hover  your mouse between two cells and click on "**+CODE**" or "**+TEXT**" from the pop-up.
- To delete a cell, click on the three dots ⠸ on the far right of the cell and select "Delete cell."

## Review Quiz




1.   What is the difference between a 'float' and an 'integer?'
2.   What is a 'boolean?'
3.   How do you check the 'type' of a variable?
4.   How do you check how many items are in a list variable?
5.   Describe the order of arithmetic operators in Python.

## Code Review 1

### Print out the string "Hello World!" using the 'f-string' print function.

```
# Example
name = "World"
print(f"Hello {name}!")
```

## Code Review 2

```
# Create two new variables of any name and assign them the values of two different numbers.
# Print out the mathematical product (multiply) of the two variables.

# Example
a = 5
b = 100
print(a * b)
```

## Code Review 3



```
# Create a variable of a list of 5 numbers and print out the first three items in the list.

# Example
my_numbers = [1, 2, 3, 4, 5]

print(my_number[0:3])
```



---



---

## Comparing values!



```
a = 1
b = 2

a < b    # True, variable 'a' is less than variable 'b'

```



```
100 > 50 # True, 100 is greater than 50

```



```
60 < 45  # False, 60 is not less than 45
```



```
'x' <= 'b'
```

# ' if ' statement

### Let's first define some variables, *Game of Thrones* style!

![alt text](https://letstalkcinemamovie.files.wordpress.com/2019/03/night-king-jets.jpg?w=349&h=230)


```
wildlings = 30
white_walkers = 50
dire_wolves = 25
```

### Compare the number of wildlings to white walkers!
![alt text](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKAhHh-4y5sQxE_skdIsEOP7NolSLlyS75heHL735Z63e6FStP)

```
if wildlings < white_walkers:
    print "Too many white walkers! Winterfell is doomed!"

if wildlings > white_walkers:
    print "Not many white walkers! Westeros is saved!"

```

### Now compare the number of wildlings with dire wolves.

```
if wildlings < dire_wolves:
    print "The wildlings will become food!"

if wildlings > dire_wolves:
    print "The dire wolves will become pets!"

```

### Another pack of hungry dire wolves has suddenly shown up in the woods near Winterfell!
![alt text](https://cdn.chatsports.com/cache/6f/22/6f2213145c8f6e973fa7b8e69947bbfb-original.jpg)


```
dire_wolves += 5

if wildlings >= dire_wolves:
    print "Wildlings are greater than or equal to dire wolves."

if wildlings <= dire_wolves:
    print "Wildlings are less than or equal to dire wolves."

if wildlings == dire_wolves:
    print "Wildlings are dire wolves."
```

---



---

# *if / elif / else*  statement



```
print("Pick a number between 1 and 100.")
my_number = int(input("> "))

if my_number < 50:
    print("Your number is less than 50.")
elif my_number > 50:
    print("Your number is greater than 50.")
else:
    print("Your number is 50.")
```



---



---



---

## Let's use if/elif/else statements to create a simple game below!

![alt text](https://i.imgur.com/rJA4fDO.gif)

```
# Define the dragon names
dragon1 = "Drogon"
dragon2 = "Rhaegal"
dragon3 = "Viserion"

# Start the game
print("Khaleesi, which dragon will you ride to battle?")
print(f"1. {dragon1}")
print(f"2. {dragon2}")
print(f"3. {dragon3}")

dragon = input("Type number > ")

# If you chose Drogon
if dragon == "1":
    print("You see Euron Greyjoy's Iron Fleet approaching? What do you do?")
    print("1. Ignore the ships and head to King's Landing.")
    print("2. Fly away and hope Euron doesn't fire the scorpion harpoon.")
    print("3. Dracarys!")

    dragon1_action = input("Type number > ")

    if dragon1_action == "1":
        print("RESULT_1")
    elif dragon1_action == "2":
        print("RESULT_2")
    else:
        print("RESULT_3")

# If you chose Rhaegal
elif dragon == "2":
    print("Rhaegal has flown to King's Landing! What do you do?")
    print("1. ACTION_1")
    print("2. ACTION_2")
    print("3. ACTION_3")

    dragon2_action = input("Type number > ")

    if dragon2_action == "1":
        print("RESULT_1")
    elif dragon2_action == "2":
        print("RESULT_2")
    else:
        print("RESULT_3")

# If you chose Viserion
else:
    print("Oh no! Viserion has been turned into the Ice Dragon and destroyed The Wall. The white walkers have won, my queen.")
    
# End of game
```



---

## Great job! You've reached the end of this notebook!